<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDu8r7b9-dA7xAKAorJdIsUi4sy7SChbdA</string>
	<key>GCM_SENDER_ID</key>
	<string>514437046472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miPrimerAplicacion.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mi-primer-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mi-primer-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514437046472:ios:22e0b46d6ddeeb8cc205fd</string>
</dict>
</plist>